<div class="intro">
  <aside>
    <p>
      My name is <b>James Conroy-Finn</b>. I <a
        href="https://github.com/jcf">build software</a> for fun and for
      profit. I live in London, listen to lots of <a
        href="http://last.fm/user/jamesconroyfinn">music</a>, and
      contribute to a lot of great <a href="/projects">software
        projects</a>.
    </p>

    <p>
      If you would like to get in touch with me feel free to
      <a href="mailto:james@logi.cl">send me an email</a>.
    </p>
  </aside>
</div>
