// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: $page-bg image-url('texture.png') top left;
}

body > header {
  background-color: transparent;

  h1, h2 {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-weight: bold;
    letter-spacing: -0.05em;
    text-shadow: 0.2em 0.2em 0.4em rgba(#000, 0.5);
  }
}

body > nav {
  @include border-top-radius(0.4em);

  ul {
    padding-top: 0;
  }

  a,
  form .search {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    letter-spacing: -0.05em;
  }
}
